@model OrderMgmnt.Web.Areas.Admin.Models.AdminOrderDetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Պատվեր № *</h1>

<div>
    <h4>Կարգավիճակ - @Model.Status</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OrderCreated)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OrderCreated)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Vender)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Vender)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PickupAddress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PickupAddress)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DesiredPickupDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DesiredPickupDate)
        </dd>
        <dt class="col-sm-4">
            Ստացողից գանձել
        </dt>
        <dd class="col-sm-8">
            @{
                var receiverChargeText = string.Empty;
                if (Model.ProductPrice != null)
                {
                    receiverChargeText += $"{Model.ProductPrice} դր․";
                    if (Model.DeliveryPrice != 0)
                        receiverChargeText += $" + {Model.DeliveryPrice} դր․(առաքման վճար)";
                }
                else if (Model.DeliveryPrice != 0)
                    receiverChargeText += $"{Model.DeliveryPrice} դր․(առաքման վճար)";
            }
            @receiverChargeText
        </dd>
        @if (Model.ReceiverNotes != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VenderNotes)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VenderNotes)
            </dd>
        }
    </dl>
    <hr />
    @if (Model.ReceiverAcceptDate != null)
    {
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ReceiverAcceptDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ReceiverAcceptDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ReceiverName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ReceiverName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ReceiverAddress)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ReceiverAddress)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ReceiverPhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ReceiverPhoneNumber)
            </dd>

            @if (Model.ReceiverChangeDeliveryDate != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ReceiverChangeDeliveryDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ReceiverChangeDeliveryDate)
                </dd>
            }

            @if (Model.ReceiverNotes != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ReceiverNotes)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ReceiverNotes)
                </dd>
            }
        </dl>
        @if (Model.AcceptDate != null)
        {
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AcceptDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AcceptDate)
                </dd>
            </dl>
            @if (Model.ActualPickUpDate != null)
            {
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ActualPickUpDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ActualPickUpDate)
                    </dd>
                </dl>
                @if (Model.DeliveryStartDate != null)
                {
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DeliveryStartDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DeliveryStartDate)
                        </dd>
                    </dl>
                    @if (Model.SuccessfulDeliveryDate != null)
                    {
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.SuccessfulDeliveryDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.SuccessfulDeliveryDate)
                            </dd>
                        </dl>
                    }
                    else if (Model.ReceiverRejectionDate != null)
                    {
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ReceiverRejectionDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ReceiverRejectionDate)
                            </dd>
                        </dl>
                        @if (Model.ReturnBackToVenderDate != null)
                        {
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ReturnBackToVenderDate)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ReturnBackToVenderDate)
                                </dd>
                            </dl>
                        }
                    }
                }
            }
        }
        @if (Model.RejectDate != null)
        {
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RejectDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RejectDate)
                </dd>
            </dl>
        }
    }


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
