@model OrderMgmnt.DAL.Entities.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredPickUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredPickUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeliveryPaymentByClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeliveryPaymentByClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShouldProductPriceBePaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShouldProductPriceBePaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualPickUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualPickUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRejectDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientRejectDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentBackToVenderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentBackToVenderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
